$color:red;

.grid{
    background-color: $color;
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: 200px 200px auto;
}
.grid-item{
    background-color: white;
    font-size: 20px;
}

%massage{
    background-color: greenyellow;
}
.grid{
    @extend %massage;
    border: 20px;
}